<h1 class="title">VALQUIRIA</h1>



    <div class = "wrapper">

      <p>
        <input  type="button" class="btn_menu" onclick="#" value="BUSCAR">
        <button class="btn_menu"> <%= link_to "CREAR" ,new_match_path%> </button>
      </p>

      <h1>Match</h1>

  </body>

</html>
