<h1>HI</h1>


<% @matches.each do |match| %>
      <tr>
        <td>Game:<%= match.game.name %> ; </td>
        <td>language:<%= match.language %></td>
        <td>Time:<%= match.star_time %> ; </td>

      </tr>
      <p></p>
    <% end %>

<%= link_to "log out", destroy_player_session_path , method: :delete %>
