<script src="show_match.js"></script>


<div>
  <p><input id="Ndices" type="integer">
  <p><input id="max" type="integer">
  <p><input id="min" type="integer">
  	<button type="submit" class="submit">Click </button></p>
</div>
