

document.addEventListener('DOMContentLoaded', function(){
  if(window.location.pathname == "/"){
//dentro de este {}solo para la ruta de arriba
    var url = '/api/v1/matches/filter'


    document.getElementById("filter").addEventListener("click", function(){
        proxy('get' , url, "json" ).then(filter);
    });

    document.getElementById("buscar").addEventListener("click",change_log_and_form )


}})

function change_log_and_form(){
    var form = document.getElementById('busqueda');
    var logo = document.getElementById('logo_index');

    if (logo.style.display == 'block' || logo.style.display==''){
      logo.style.display = (logo.style.display == 'none') ? 'block' : 'none';
      form.style.display = 'block';
    }
  }



    function filter(response) {
          var match_list=document.getElementsByTagName('td')
          var language =document.getElementById("language").value
          var game =document.getElementById("game").value
          var matches_filtered=[]
          var table = document.getElementById('tableMatches')

          delete_row(match_list)
          push_matches(language,response,game,matches_filtered)
          print_matches(matches_filtered ,table)

    }

  function delete_row(array) {
    for (var i = 0; i < array.length; i++) {
    $(array[i]).text("");
    }
  }

  function push_matches(language,response,game,array) {
    for (var i = 0; i < response.length; i++) {
      if (language==response[i].language&& game==response[i].game_id) {
        console.log("juego filtrado correcto");
        array.push(response[i])
        console.log(array);
      }
    }
  }

  function print_matches(array,table) {
    for (var i = 0; i < array.length; i++) {
      //document.getElementById(table).innerHTML=""
      var row = table.insertRow(1+i)
      var celName = row.insertCell(0)
      var celGame = row.insertCell(1)
      var celLanguage = row.insertCell(2)
      var celCreated = row.insertCell(3)
      var name=parseInt(document.getElementById('game').value);

      celName.innerHTML = "<a href='/matches/"+array[i].id+"'> "+array[i].name+"</a>"
      celGame.innerHTML =document.getElementsByTagName("option")[6+name].id
      celLanguage.innerHTML = array[i].language;
      celCreated.innerHTML = array[i].created_at;

    }
  }
