
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
      left: 18%;
      display: block;
      width: 20em;
      height: 3em;
      line-height: 3;
      background: #a7551f;
      overflow: hidden;
      border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}





//####################################################
body{
  background-image:url(asset-path("background/dark_wall.png"));

}


.wrapper_bottom{
  width:420px;
  margin:0 auto;
  //opacity: 0.5;
  // margin-left: 3%;
  // display: inline-block;  parameter imagen fondo
 text-decoration:none;
 margin-bottom: 5%;
 text-align: center;
border-radius:7%;
opacity: 1.5;
}

.wrapper{
  width:420px;
  margin:0 auto;

  //opacity: 0.5;
  // margin-left: 3%;
  // display: inline-block;  parameter imagen fondo
 text-decoration:none;
 margin-bottom: 5%;
 text-align: center;
 background-color: rgba(0, 0, 0, 0.3);
border-radius:7%;
opacity: 1.5;
}

.wrapper_index{
  width:420px;
  margin:0 auto;
    display: none;
  //opacity: 0.5;
  // margin-left: 3%;
  // display: inline-block;  parameter imagen fondo
 text-decoration:none;
 margin-bottom: 5%;
 text-align: center;
 background-color: rgba(0, 0, 0, 0.3);
border-radius:7%;
opacity: 1.5;
}
.title{
  font:70px Oswald;

}

#logo{
    background-image:url(asset-path("LOGOTIPO-VALQUIRIA.png"));
    background-repeat: no-repeat;
    align-items: center;
    opacity: 0.6;
    margin-left: 16%;
}

h1{
  text-align:center;
  padding:30px 0px 21px 0px;
  font:25px Oswald;
  color:#d07133;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  margin:0px;
}


.text_gray{
  font:20px Open Sans;
  color:#d07133;
  text-shadow:#000 0px 1px 5px;
  margin-bottom:30px;
  text-decoration:none;

}

.text_list{
  font:17px Open Sans;
  color:#cccccc;
  text-shadow:#000 0px 1px 5px;
  margin-bottom:30px;
  text-decoration:none;

}

table{
  width:100%;
  text-align: center;
  margin-bottom: 5%;
}

input[type="text"],input[type="email"],input[type="password"],button{
  width:58%;
  padding:15px 0px 15px 8px;
  border-radius:5px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
	background:rgba(0,0,0,0.2);

  border:1px solid rgba(0,0,0,1);
  margin-bottom:10px;
  color:#6E6E6E;
  text-shadow:#000 0px 1px 5px;
  font: 17px Open Sans;
}


input[type="submit"],input[type="button"],button{
  width:40%;
  padding:15px;
  border-radius:5px;
  outline:none;
  margin-bottom: 3%;

  background-image: linear-gradient(#ff8300 0%, #de5800 100%);
  font:14px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.7;
	-webkit-box-shaow: 0 8px 6px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}


.img_background{
  display: inline-block;

}
.image_chat{
  width:20px;
  height: 20px;

}
.card{
  width: 50%;
  margin-left: 35%;
}

#logo_nav{

width: 69px;
height: 50px;
display: inline-block;
margin-left: 92%;
margin-bottom: -23px;
margin-top: -42px;
margin-right: 0%;
}
img{
  width:30%;
  height: 36%;
  margin-left: 35%;
  margin-right: 32%;
  margin-bottom: 1%;
}
input:focus{
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(0,0,0,0.3);
  outline:none;
  border:none;;
}

input[type="submit"],input[type="button"]:hover{
  opacity:1;
  cursor:pointer;
}
button:hover{
  opacity:1;
  cursor:pointer;
}

#filter{

  margin-left: 0%;
}
p >.btn_menu{
  display: inline-block;;
  width:40%;
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 5%;
  text-decoration:none;
}
.btn_menu{
  display: inline-block;;
  width:40%;
  margin-top: 10%;
  margin-left: 4%;
  margin-right: 5%;
  text-decoration:none;
}
a{
    text-decoration:none;
    color: white;
}
footer{
  background:#8e6548;
  opacity: 0.5;
  position:fixed;
  bottom:0;
  left: 0px;
  width:100%;
  height:50px;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {

      width: 40%;
      margin-left: 25%;
  }
}
