<!DOCTYPE html>
<html>
  <head>
    <title>Valquiria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <img class="image_background" url=""  height="402" width="402">  para meter imgen fondo-->

    <%= yield %>

  <footer class="footer"><p>Sticky footer - <a href="http://codepen.io/paulobrien/full/rxyEMN/">See flexbox version with 2 columns</a></p></footer>

  </body>
</html>
